@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../styles/fonts/CormorantGaramond-Regular-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html:focus-within {
    scroll-behavior: smooth;
}


body {
    background-color: var(--dark-gray);
    color: rgb(250, 235, 215);
    font-size: 20px;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;

    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Cormorant Garamond', serif;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/* utility */



.flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.background-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.body-flex {
    justify-content: flex-start;
}

:root {
    --dark-gray:  rgb(0, 0, 0);
    /* --header: rgba(206, 190, 190); */
    --header: rgb(102, 102, 102, .9);
    --book: rgba(206, 190, 190);


    --header-blur: blur(25px);
    --header-color: rgba(255, 255, 255, .5);  

    /* fontsize */
    --nav-font: 20px;
    --quote-font: 30px;
    --bio-font-sm: 20px;
    --bio-font: 25px;
    --header-font: 30px;
    --books-font: 30px;
}

ul[role="list"],
ol[role="list"],
li {
  list-style: none;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

button {
    outline: none;
    border: none;
}

.hero {
    /* padding: 0 2rem; */
    height: 95vh;
    width: 100vw;
    filter: grayscale(.7);
    background-image: url('../img/banner.jpg');
    /* position: absolute; */
 
}



.hero-quote {
    width: 60ch;
    height: auto;
    backdrop-filter: .5;
    background-color: rgba(0,0,0,0.5);
    padding: 1rem;
    position: absolute;
    top: 35vh;
    left: 5vw;
    border-radius: 10px;
    visibility: hidden;
    overflow: hidden;
  
    flex-direction: row;
    justify-content: flex-start;
    gap: 4rem;
    perspective: 1000px;

}


/* .hero-quote li {
    width: 55ch;
	position: relative;
	display: inline-block;
    animation: slide-animation 20s infinite;
} */


.hero-quote p {
    font-size: 30px;
}

.hero-quote div {
    padding-top: 1rem;
}

.quote-author {
    font-size: 35px;
}

.quote-marks {
    font-size: 30px;
    color: antiquewhite;
    font-style: italic;
}


.header-top {
    align-items: baseline;
    justify-content: space-between;
    z-index: 100;
}

.header-left {
    padding: 0 2rem;
}

.mobile-header {
    width: 100vw;
    padding: .5rem;
    background-color: var(--header-color);
    backdrop-filter: var(--header-blur);
}

.hamburger {
    position: absolute;
    display: block;
    background-color: transparent;
    width: 2rem;
    height: 2rem;
    top: 1rem;
    right: 5rem;
    z-index: 100;
}

.hamburger span {
    display: block;
    width: 2rem;
    height: .3rem;
    margin-bottom: .4rem;
    position: relative;
    
    background: #cdcdcd;
    border-radius: 3px;
    
    z-index: 100;
    
    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;

}

.hamburger span:first-child {
    transform-origin: 0% 0%;
}

.hamburger span:nth-last-child(2) {
    transform-origin: 0% 100%;
}



.header-nav {
    display: none;
    /* background-color: var(--header); */
    background-color: var(--header-color);
    backdrop-filter: var(--header-blur);
    width: 100vw;
    height: 95vh;
    margin: 0;
 
    transform: translate(100vw);
    transition: all 1s cubic-bezier(0.77,0.2,0.05,1.0);
    z-index: 100;
    gap: 4rem;
 
}

.fixed-nav .header-top {
    position: fixed;
    box-shadow: 0 5px rgba(0,0,0,0.1);
    top: 0px;
  }

.dropdown {
    position: relative;
    /* display: inline-block; */
    width: 50vw;
    text-align: center;
}

.dropdown-list {
    display: flex;
    position: absolute;
    background-color: transparent;
    min-width: 140px;
    /* margin-left: -2vw; */
    height: 0;
    z-index: 1;
    transition: height 300ms;
    flex-direction: column;
    justify-content: space-evenly;
    transition-timing-function: ease;
    text-align: center;
    overflow: hidden;
  }
  
  .dropdown:hover .dropdown-list {
    height: 120px;
    /* width: 20vw;
    margin-left: 40vw;
    margin-top: -5vh; */
  }

.dropdown-list li {
    margin-bottom: 4px;
    background-color: var(--header-color);
    /* backdrop-filter: var(--header-blur); */
    border-radius: 32px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}

/* main {
    padding: 3rem;
} */

.container-bio,
.container-books {
    flex-direction: column;
}

.container-header {
    font-size: var(--header-font);
}

.bio-left {
    padding: 2rem;
    flex-direction: column;
}

.bio-left p {
    word-wrap: wrap;
    font-size: var(--bio-font-sm);
}

/* Publishers */

.publisher-list {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(20vw, 1fr) );
   background-color: var(--header-color);
   backdrop-filter: var(--header-blur);
    width: 90vw;
    margin: 0 auto;
    gap: 1rem;
    border-radius: 5px;
    box-shadow: inset 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.publisher-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .7;
    /* background-color: var(--header); */
    padding: .5rem;
    box-shadow: inset 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.publisher-list li:hover {
    opacity: 1;
}

/* Books! */


.container-books header {
    text-align: center;
}

.container-upcoming {
    flex-direction: column;
    width: 100vw;
    justify-content: space-evenly;
    padding: 2rem 0rem;
}

.upcoming-left {
    width: 60vw;
    height: 60vh;
    background-size: contain;
}


.upcoming-date {
    padding: 2rem;
    font-size: 25px;
}

.main-books-grid li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-item:nth-child(even) {
    flex-direction: row-reverse;
}

.books-reviews {
    width: 50vw;
    padding: 2rem;
}

#afghan-review {
    width: 100vw;
}

.book-review {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;

}

.book-review p {
    font-size: 22px;
}

.books-grid {
    display: grid;
    row-gap: 4rem;
    column-gap: 1rem;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat( auto-fit, minmax(50vw, 1fr) );
}

.books-img {
    position: relative;
    background-attachment: fixed;
}


.quote-author {
    flex-direction: column-reverse;
    justify-content: baseline;
    align-items: flex-start;
    gap: .5rem;
    padding: 1rem 0;
}

.quote-bold {
    font-size: 25px;
}

.quote-small {
    font-style: italic;
    font-size: 20px;
}

.book-purchase {
    width: 100%;
    height: 15%;
    position: absolute;
    bottom: 0;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */

    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    padding: 1rem;


}

.book-purchase-btn {
    padding: .5rem 1rem;
    visibility: visible;
    z-index: 10;
    border-radius: 10px;
    background-color: #f44336;

   
    
}

.book-purchase-btn:hover {
    transform: scale(1.1);
}

.book-purchase:hover {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    padding: 1rem;
}

.book-outer {
    height: 40vh;
    background-size: contain;
    width: 100vw;
    justify-content: flex-end;
    align-items: center;
    background-size:contain;
    padding: 0 2rem;

}

.book-inner-top,
.book-inner-bottom {
    /* visibility: hidden; */
    color: black;
    backdrop-filter: blur(20px);
    transition: all 0.09s cubic-bezier(0.77,0.2,0.05,1.0);
    margin: 0;
    height: 20%;
    width: 100%;
    text-align: center;
    padding: 1rem;
}


.book-inner-bottom button {
    background-color: #cdcdcd;
}

button a {
    color: black;
}

#withoutCountry {
    background-image: url('../img/books/without-a-country.jpg');
}

#katrina {
    background-image: url('../img/books/katrina.jpg');
}

#fruitGrief {
    background-image: url('../img/books/fruit-grief.jpg');
}

#warsLeaveBehind {
    background-image: url('../img/books/wars-leave-behind.jpg');
}

#khaarijee {
    background-image: url('../img/books/khaarijee.jpg');
}

#afghanistan {
    background-image: url('../img/books/afghanistan-stories.jpg');
}

#timeServed {
    background-image: url('../img/books/time-served.jpg');
}

#kansasNoir {
    background-image: url('../img/books/kansas-noir.jpg');
}

#differentWar {
    background-image: url('../img/books/different-kind-of-war.jpg');
}

/* Articles */

.articles-main header {
    /* text-align: end; */
    font-size: 50px;
    padding:  1rem 4rem;
}


.article-country-list,
.article-personal-list,
.article-fiction-list {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(50vw, 1fr) );
    row-gap: 2rem;
    grid-auto-flow: dense;
    padding: 4rem;
}

.article-title a {
    color: rgb(187, 35, 35);
    font-size: 30px;

}

.article-title {
    max-width: 50ch;
}

.article-publication {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 1rem;
}

.article-exerpt p {
    max-width: 50ch;
    padding-top: 1rem;
}



.open-nav {
    /* color: antiquewhite;
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    padding: 1rem;
    border-radius: 100px;
    background-color: var(--header); */

    width: 64px;
    height: 64px;
    border-radius: 32px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.open-nav:hover {
    color: antiquewhite;
    background-color: rgb(187, 35, 35);;
}


.article-nav {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    bottom: 15vh;
    right: 5vw;

    display: none; */

    background-color: transparent;
    height: 64px;
    width: 64px;
    border-radius: 32px;
    transition: height 300ms;
    transition-timing-function: ease;
    position: fixed;
    right: 50px;
    bottom: 50px;
    text-align: center;
    overflow: hidden;

}

.article-nav:hover {
    height: 615px;
    width: 170px;
}

.article-nav:hover .mainop {
    transform: rotate(180deg);
}

.mainop {
    margin: auto;
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: transform 300ms;
    background-color: #f44336;
    border-radius: 32px;
    z-index: 6;
    color: antiquewhite;
}

.tag,
.reverse {

    /* color: antiquewhite;
    background-color: black; */
    position: relative;
    width: 150px;
    height: 30px;
    border-radius: 24px;
    z-index: 5;
    float: left;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: var(--header);
    color: antiquewhite;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tag:hover,
.reverse:hover {
    /* color: rgb(187, 35, 35); */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: #f44336;
}

/* Contact */

.container-contact {
    padding: 5rem;
}

.form-container {
    width: 65vw;
    margin: 0 auto;
    height: 60vh;
     /* background-color: var(--header-color); */
     /* opacity: .9; */

    /* outline: 1px solid blue; */
    border: 10px solid antiquewhite;
    flex-direction: row;
}
.contact-form {
    /* outline: 1px solid red; */
    width: 60vw;
    margin: 0 auto;
    height: 50vh;
    justify-content: space-evenly;
    /* background-color: var(--header-color);
    backdrop-filter: var(--header-blur); */

    padding: 2rem;
    box-shadow: inset 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.contact-info {
    padding: 2rem;
    /* border-left: 5px solid antiquewhite; */
}
.contact-data {
    align-items: flex-start;
}

input,
textarea {
    width: 30vw;
    background-color: var(--header-color);
    backdrop-filter: var(--header-blur);
    color: rgb(24, 22, 22);
    outline: none;
}


::placeholder {
    color: black;
    opacity: 1;
}


/* JS */

.hamburger-active {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background-color: var(--dark-gray);
    
}

.hamburger-active-span {
    transform: rotate(-45deg) translate(-4px, 3px);

}

.navbarOffsetMargin {
    padding-bottom: 15vh;
  }

.visible {
    visibility: visible;
    /* transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0); */
}

.show {
    display: flex;
    z-index: 200;
}

.current {
    background-color: black;

}



.translate {
    transform: translate(0vw);
        transition: all 1s ease;
}

.dont-show {
    display: none;
}

.flex-nav {
    display: flex;
}


.fade-in {
    animation: fade 9s infinite;
}

.hero-quote li {
    position: relative;
}

@keyframes fade {
    0% {
        opacity: 0;
        /* transform: rotate3d(2, 2, 0, 48deg); */
        left: -100%;
    }
    10% {
        opacity: 1;
        /* transform: rotate3d(0, 0, 0, 24deg); */
        left: 0;
    }
    90% {
        opacity: 1;
        /* transform: rotate3d(0, 0, 0, 24deg); */
        left: 0;
    }
    100% {
        opacity: 0;
        /* transform: rotate3d(-2, -2, 0, 0deg); */
        left: 110%;
    }
}


@media (min-width: 600px) {
    .books-grid  {
        grid-template-columns: repeat( auto-fit, minmax(45vw, 1fr) );
        padding: 2rem;
    }

    .book-outer {
        width: 45vw;
    }
}

@media (min-width: 700px) {
    .container-upcoming {
        flex-direction: row;
        width: 100vw;
        justify-content: space-evenly;
    }
    
    .upcoming-left {
        background-size: contain;
        width: 30vw;
    }




}

@media (min-width: 1000px) {

    .mobile-header {
        background-color: transparent;
        backdrop-filter: none;
    }

    .hero-quote {
        visibility: visible;
    }
    .hamburger {
        display: none;
    }

 
    .header-top {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding: .5rem 2rem;
        width: 100vw;
        background-color: var(--header-color);
        backdrop-filter: var(--header-blur);
        box-shadow: inset 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .header-nav {
        flex-direction: row;
        align-items: flex-start;
        background-color: transparent;
        backdrop-filter: none;
        transform: translate(0);
        padding: 0 2rem;
        width: fit-content;
        height: auto;
        
        display: flex;
    }

    .dropdown {
        width: auto;
    }

    .dropdown-list {
        margin-left: -2vw;
    }

    .dropdown:hover .dropdown-list {
        height: 120px;
        width: 0;
        padding-top: 2vh;
      }

    .bio-left p {
        Max-width: 60ch;
        font-size: var(--bio-font);
    }

    .books-grid {
        grid-template-columns: repeat( auto-fit, minmax(30vw, 1fr) );
    }

    .book-outer {
        width: 32vw;
    }
    /* .articles-main header {
        position: sticky;
        top: 2rem;           
    } */
  
    .publisher-list {
        grid-template-columns: repeat( auto-fit, minmax(13vw, 1fr) );
    }

    .quote-author {
        flex-direction: row-reverse;
        align-items: baseline;
        
    }

    #afghan-review {
        width: 50vw;
    }

}

@media (min-width: 1300px) {
    .article-country-list,
    .article-personal-list,
    .article-fiction-list  {
            grid-template-columns: repeat( auto-fit, minmax(45vw, 1fr) );
        }

 
        
}